<table mat-table [dataSource]="dataSource" class="full-width">
  <ng-container matColumnDef="kdoffer">
    <th mat-header-cell *matHeaderCellDef>Offer Code</th>
    <td mat-cell *matCellDef="let element">{{element.kdoffer}}</td>
  </ng-container>

  <ng-container matColumnDef="offerdate">
    <th mat-header-cell *matHeaderCellDef>Offer Date</th>
    <td mat-cell *matCellDef="let element">{{element.offerdate}}</td>
  </ng-container>

  <ng-container matColumnDef="clientname">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.clientname}}</td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element">{{element.address}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{element.email}}</td>
  </ng-container>
  <ng-container matColumnDef="pic">
    <th mat-header-cell *matHeaderCellDef>Pic</th>
    <td mat-cell *matCellDef="let element">{{element.pic}}</td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td mat-cell *matCellDef="let element">{{element.phone}}</td>
  </ng-container>

  <ng-container matColumnDef="service">
    <th mat-header-cell *matHeaderCellDef>Service</th>
    <td mat-cell *matCellDef="let element">{{element.service}}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">{{element.price}}</td>
  </ng-container>


  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{element.description}}</td>
  </ng-container>

  <ng-container matColumnDef="sale_id">
    <th mat-header-cell *matHeaderCellDef>Sales</th>
    <td mat-cell *matCellDef="let element">{{element.sale_id}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <mat-select placeholder="Actions">
        <mat-option routerLink="/visit-edit/{{element.id}}">Edit</mat-option>
        <mat-option (click)="remove(element)">Remove</mat-option>
      </mat-select>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row;columns: displayedColumns"></tr>
</table>